body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #111;
    color: #999;
}

.wrapper { /*전체를 감쌈*/
    display: flex; /*안에 있는 팀만큼 줄었음*/
    height: auto; /*wrapper 안에 있는 높이*/
    justify-content: center; /*가운데로 옴*/
    align-items: center;
}


.team { /*내부*/
    background-color: aqua;
}
