body{
    background-color:black;
}
h1{
    color: white;
}
#p1{
    background-color: white;
    color: bisque;
}
#p2{
    background-color: white;
    color: bisque;
}
#p3{
    background-color: white;
    color: bisque;
}
#p4{
    background-color: white;
    color: bisque;
}